.dashboardContent {
  width: 85%;
  height: 100%;
	display: flex;
	flex-direction: column;
}

.dshBox {
	width: 100%;
}

.title {
	height: 6%;
	min-height: 40px;
	border-bottom: 1px solid var(--additional-text);
	text-transform: uppercase;
	display: flex;
	margin: 0;
	align-items: end;
}

.title h3 {
	margin: 0 0 5px 15px;
	color: var(--main-theme);
}

.stats {
	height: 10%;
	min-height: 150px;
	display: flex;
	flex-direction: column;
	justify-content: end;
}

.contentManagement {
	height: 4%;
	min-height: 40px;
	border-bottom:1px solid var(--additional-text);
	display: flex;
	justify-content: end;
	box-sizing: border-box;
	padding-right: 25px;
}