.errorBox {
	width: 300px;
	height: 25px;
	color: var(--alert-red);
  display: flex;
  align-items: center;
  font-size: var(--font-xs);
}

.errorIcon {
  height: 16px;
  margin-top: 2px;
  margin-right: 5px;
}