.comboboxContent {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: start;
}

.comboboxInputs {
	width: 90%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.newCompanyCheckbox {
	width: 250px;
	display: flex;
	justify-content: start;
}

.newCompanyCheckbox input{
	width: 25px !important;
	height: 100%;
	accent-color: var(--secondary-theme);
	cursor: pointer;
}

.newCompanyCheckboxLabel {
	color: var(--secondary-text);
}

.newCompanyCheckboxLabel::first-letter {
	text-transform: capitalize;
}

.companyList {
	width: 212px;
	height: 150px;
	overflow-y: auto;
	display: flex;
	flex-direction: column;
	border-bottom-left-radius: 15px;
	border-bottom-right-radius: 15px;
}

.companyItem {
	width: 100%;
	height: 65px !important;
	cursor: pointer;
	text-align: left;
	padding-left: 10px;
	box-sizing: border-box;
	color: var(--secondary-text);
	background-color: var(--background);
}

.companyItem:hover {
	color: var(--main-theme);
	background-color: var(--additional-theme);
}

.companyNoItem {
	width: 100%;
	height: 45px !important;
	cursor: pointer;
	text-align: left;
	padding-left: 10px;
	box-sizing: border-box;
	color: var(--secondary-text);
	background-color: var(--background);
}

.comboboxSearchWrapper {
  position: relative;
  width: 200px;
	height: 30px;
	margin: 0;
	display: flex;
	flex-direction: column;
}

.comboboxSearchIcon {
  position: absolute;
  left: 8px;
  top: 6px;
  height: 18px;
}

.comboboxSearchBar {
	width: 100%;
	height: 30px;
	padding-left: 28px;
	border: none;
	background-color: var(--background);
	border-radius: 5px;
}

.newCompanyInputs {
	display: flex;
	flex-direction: column;
	align-items: start;
	height: 100%;
	margin-top: 5%;
	width: 228px;
}