.appNavigation {
  height: 100%;
  width: 220px;
  background-color: var(--silk);
	display: flex;
	flex-direction: column;
}

.navTitle p{
	padding: 0 0 0 8px;
	margin: 0 0 15px 0;
	color: var(--additional-text);
	font-size: var(--font-sm);
	text-transform: capitalize;
	text-align: left;
}

.navElements, .accountElements {
	display: flex;
	flex-direction: column;
	border-top: 1px solid var(--additional-text);
}

.navElements {
	margin-top: 35px;
}

.navElements h3 {
	text-transform: uppercase;
	color: var(--secondary-text);
	margin: 0 8px 8px 8px;
	border-radius: 5px;
	cursor: pointer;
	font-size: var(--font-lg);
}

.active {
	color: var(--secondary-theme) !important;
	background-color: var(--additional-theme);
}

.active:hover {
	cursor: default;
}

.navElements h3:hover, .accountElements h3:hover {
	color: var(--secondary-theme);
}

.accountElements {
	margin-top: auto;
	margin-bottom: 25px;
}

.accountElements h3{
	text-transform: capitalize;
	cursor: pointer;
}