:root {
  --text: #1C2321;
  --secondary-text: #393E41;
  --background: #D4F5E2;
  --foreground: #ECCBD9;
  --main-theme: #0E8A5F;
  --secondary-theme: #119E6A;
  --additional-theme: #1C2321;
  --silk: #FAC9B8;

}


#root {
  width: 1126px;
  max-width: 100%;
  margin: 0 auto;
  text-align: center;
  min-height: 100svh;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

body {
  margin: 0;  
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  background-color: var(--background);
}