.pagerWrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	font-size: var(--font-xl);
	margin-top:3%;
	height: 30px;
}

.pager {
	height: 100%;
	width: 500px;
	display: flex;
	
}

.pagesBox {
	height: 100%;
	width: 60%;
	display: flex;
	justify-content: center;
	align-items: center;
	color: var(--secondary-text);
}

.page {
	height: 100%;
	width: 30px;
	font-weight: bold;
	display: flex;
	justify-content: center;
	align-items: center;
}

.page:hover {
	background-color: var(--additional-theme);
	border-radius: 10px;
	cursor: pointer;
}

.pageActive {
	color: var(--silk);
	background-color: var(--main-theme);
	border-radius: 10px;
}

.pageActive:hover {
	background-color: var(--secondary-theme) !important;
}

.pageDisabled {
	display: none;
}

.arrowButton {
	height: 100%;
	width: 30px;
}

.arrowButton:not(.arrowDisabled):hover {
	background-color: var(--additional-theme);
	border-radius: 10px;
	cursor: pointer;
}

.arrowActive {
	color: var(--main-theme);
}

.arrowDisabled {
	color: var(--additional-text);
}


.goToPageBox {
	height: 100%;
	width: 40%;
	display: flex;
	align-items: center;
	justify-content: center;
	border-left: 2px solid var(--additional-text);
	padding-left: 5px;
}

.goToPageBox label {
	cursor: pointer;
	color: var(--secondary-text);
}

.goToPageBox label::first-letter {
	text-transform: capitalize;
}

.goToPageBox input {
	font-size: var(--font-lg);
	width: 28px;
	height: 28px;
	text-align: center;
	box-sizing: border-box;
	border-radius: 5px;
	border: 1px solid var(--additional-text);
	margin-left: 5px;
	color: var(--secondary-text);
	accent-color: var(--secondary-theme);
}

.goToPageBox button {
	width: 30px;
	height: 30px;
	margin-left: 5px;
	font-size: var(--font-lg);
}

.goToPageBox button::first-letter {
	text-transform: capitalize;
}